<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceFinding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PriceFinding.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PriceFinder.Properties.TableSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PriceFinder.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PriceFinder.Properties.SageUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PriceFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceFinding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PriceFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PriceFinding.Properties.Settings>
            <setting name="defaultMargin" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="minDataFileAgeInDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="invoiceLookBackYrs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NOT_FOUND" serializeAs="String">
                <value>NOT_FOUND</value>
            </setting>
        </PriceFinding.Properties.Settings>
        <PriceFinding.Properties.UserSettings>
            <setting name="baseCurrCode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="carrNomCode" serializeAs="String">
                <value>4905</value>
            </setting>
            <setting name="stockNomCode" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="sagePassword" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="sageUsername" serializeAs="String">
                <value>PriceFinder</value>
            </setting>
            <setting name="taxCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="taxCodeForeign" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sageDBDir" serializeAs="String">
                <value>C:\ProgramData\Sage\Accounts\2017\Company.000\ACCDATA</value>
            </setting>
            <setting name="sageVersion" serializeAs="String">
                <value>24</value>
            </setting>
        </PriceFinding.Properties.UserSettings>
        <PriceFinder.Properties.TableSettings>
            <setting name="tblCust" serializeAs="String">
                <value />
            </setting>
        </PriceFinder.Properties.TableSettings>
        <PriceFinder.Properties.UserSettings>
            <setting name="baseCurrCode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="carrNomCode" serializeAs="String">
                <value>4905</value>
            </setting>
            <setting name="stockNomCode" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="sagePassword" serializeAs="String">
                <value>PriceFinder</value>
            </setting>
            <setting name="sageUsername" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="taxCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="taxCodeForeign" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sageDBDir" serializeAs="String">
                <value>C:\ProgramData\Sage\Accounts\2017\Company.000\ACCDATA</value>
            </setting>
            <setting name="sageVersion" serializeAs="String">
                <value>24</value>
            </setting>
        </PriceFinder.Properties.UserSettings>
        <PriceFinder.Properties.SageUserSettings>
            <setting name="baseCurrCode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="carrNomCode" serializeAs="String">
                <value>4905</value>
            </setting>
            <setting name="stockNomCode" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="sageAccDSN" serializeAs="String">
                <value>SageConecto</value>
            </setting>
            <setting name="sagePassword" serializeAs="String">
                <value>PriceFinder</value>
            </setting>
            <setting name="sageUsername" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="taxCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="taxCodeForeign" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sageDBDir" serializeAs="String">
                <value>C:\ProgramData\Sage\Accounts\2017\Company.000\ACCDATA</value>
            </setting>
            <setting name="sageVersion" serializeAs="String">
                <value>24</value>
            </setting>
        </PriceFinder.Properties.SageUserSettings>
        <PriceFinder.Properties.Settings>
            <setting name="defaultMargin" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="minDataFileAgeInDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="invoiceLookBackYrs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NOT_FOUND" serializeAs="String">
                <value>NOT_FOUND</value>
            </setting>
        </PriceFinder.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PriceFinding.Properties.Settings>
            <setting name="appProgramDir" serializeAs="String">
                <value>FindSe</value>
            </setting>
            <setting name="appPFUpdaterDir" serializeAs="String">
                <value>PF_Updaters</value>
            </setting>
            <setting name="programDir" serializeAs="String">
                <value>Price Finder</value>
            </setting>
            <setting name="storageFileName" serializeAs="String">
                <value>PfDataStore.ser</value>
            </setting>
        </PriceFinding.Properties.Settings>
        <PriceFinder.Properties.Settings>
            <setting name="appProgramDir" serializeAs="String">
                <value>Price Finder</value>
            </setting>
            <setting name="appPFUpdaterDir" serializeAs="String">
                <value>PF_Updaters</value>
            </setting>
            <setting name="programDir" serializeAs="String">
                <value>Price Finder</value>
            </setting>
            <setting name="storageFileName" serializeAs="String">
                <value>PfDataStore.ser</value>
            </setting>
        </PriceFinder.Properties.Settings>
    </applicationSettings>
</configuration>